html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}

.stacks-container {
  height: 18vh;
  margin-top: -16rem;

  @include xs {
    margin: 2rem 0 -2rem 0;
    width: 90vw;
  }

  .stacks-header li {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    @include xs{
      width: 12vw;
      margin-inline: 0 auto;
    }
  }
  .tech-stacks {
    transform: translateY(0px);
  }
  .open-tab {
    transition: ease-in 3s;
    animation: insertFromBottom 0.5s ease;
  }
  @keyframes insertFromBottom {
    from {
      opacity: 0;
      transform: translateY(80px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}
